/* css styles */

.navbar-logo {
  height: 3em !important;
  max-width: unset !important;
  max-height: unset !important;
}

/* Make all headings dark blue */
h1, h2, h3, h4, h5, h6 {
  color: darkblue;
}


/* Make tables responsive */
table {
    width: 100%;
    overflow-x: auto; /* Enables horizontal scrolling when necessary */
    border-collapse: collapse;
}

/* Make tables horizontally scrollable */
table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto; /* Enables horizontal scrolling */
}

/* Styling for table headers */
th {
    background-color: #f2f2f2; /* Optional: add background color to distinguish headers */
    text-align: left;
    padding: 8px;
}

/* Styling for table cells */
td {
    padding: 8px;
    border: 1px solid #ddd;
}
