/* css styles */

.navbar-logo {
  height: 3em !important;
  max-width: unset !important;
  max-height: unset !important;
}

/* Make all headings dark blue */
h1, h2, h3, h4, h5, h6 {
  color: #002147;
}


table {
    display: block; /* Make table a block element */
    max-width: 100%; /* Restrict table to fit within the screen width */
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent table content from wrapping */
}


/* In your Quarto custom CSS file (e.g., _custom.scss or directly in the _quarto.yml) */
@media (max-width: 768px) {
    .sidebar {
      
        top: 0;
        bottom: 0;
        height: auto; /* Allow sidebar to expand with content */
        overflow-y: scroll; /* Enables vertical scroll */
        scroll-behavior: smooth; /* Enables smooth scrolling */
        z-index: 1000;
    }
}





